<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.gms.dao.EquipmentloanDao">
  <resultMap id="BaseResultMap" type="com.lp.gms.model.Equipmentloan">
    <id column="equipmentLoanId" jdbcType="INTEGER" property="equipmentloanid" />
    <result column="e_id" jdbcType="INTEGER" property="eId" />
    <result column="eName" jdbcType="VARCHAR" property="ename" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="startDate" jdbcType="TIMESTAMP" property="startdate" />
    <result column="endDate" jdbcType="TIMESTAMP" property="enddate" />
    <result column="ePayment" jdbcType="INTEGER" property="epayment" />
    <result column="rentNum" jdbcType="INTEGER" property="rentnum" />
    <result column="eStatus" jdbcType="VARCHAR" property="estatus" />
	<association property="equipment"
		resultMap="com.lp.gms.dao.EquipmentDao.BaseResultMap" />
	<association property="user"
		resultMap="com.lp.gms.dao.UserDao.BaseResultMap" />
  </resultMap>
  <sql id="Base_Column_List">
    equipmentLoanId, e_id ,eName ,user_id, startDate, endDate, ePayment, rentNum, eStatus
  </sql>

	<!-- 添加租借记录 -->
	<insert id="insert" parameterType="com.lp.gms.model.Equipmentloan">
		insert into equipmentloan(e_id,eName,user_id,startDate,endDate,ePayment,rentNum)
		values (#{eId,jdbcType=INTEGER},#{ename,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},
		#{startdate,jdbcType=TIMESTAMP},#{enddate,jdbcType=TIMESTAMP}, 
		#{epayment,jdbcType=INTEGER},#{rentnum,jdbcType=INTEGER})
	</insert>

	<!-- 查询总记录数 -->
	<select id="selectCount" parameterType="com.lp.gms.model.Page"
		resultType="java.lang.Long">
		select count(0) from equipmentloan left join equipment  on e_id 
		= equipment.equipmentid
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					eName like '%' #{keyWords} '%'
				</if>
				<if test="fuzzy == false">
					eName = #{keyWords}
				</if>
			</if>
		</where>
	</select>

	<!-- 分页查询列表 -->
	<select id="selectByPage" parameterType="com.lp.gms.model.Page"
		resultMap="BaseResultMap">
		select
		equipmentloan.equipmentloanId, equipmentloan.e_id, equipmentloan.user_id, equipmentloan.startDate,
		equipmentloan.endDate, equipmentloan.ePayment,equipmentloan.rentNum, equipmentloan.eStatus,
		equipmentloan.eName,
		gym_user.account
		from equipmentloan 
		left join equipment  on equipmentloan.e_id
		= equipment.equipmentid
		left join gym_user on equipmentloan.user_id = gym_user.id
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					equipmentloan.eName like '%' #{keyWords} '%'
				</if>
				<if test="fuzzy == false">
					equipmentloan.eName = #{keyWords}
				</if>
			</if>
		</where>
		<if test="pageNum > 0 and pageSize > 0">
			limit #{startColum},#{pageSize}
		</if>
	</select>

	<!-- 器材审核 -->
	<update id="updateByPrimaryKey" parameterType="com.lp.gms.model.Equipmentloan">
		update equipmentloan
		set
		eStatus = #{estatus,jdbcType=VARCHAR}
		where equipmentloanId = #{equipmentloanid,jdbcType=INTEGER}
	</update>
<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from equipmentloan
		where equipmentloanId = #{equipmentloanid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from equipmentloan
		where equipmentloanId = #{equipmentloanid,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.lp.gms.model.Equipmentloan">
		insert into equipmentloan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="equipmentloanid != null">
				equipmentloanId,
			</if>
			<if test="eId != null">
				e_id,
			</if>
			<if test="ename != null">
				eName,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="startdate!= null">
				startDate,
			</if>
			<if test="enddate != null">
				endDate,
			</if>
			<if test="epayment != null">
				ePayment,
			</if>
			<if test="rentnum != null">
				rentNum,
			</if>
			<if test="estatus != null">
				eStatus,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="equipmentloanid != null">
				#{equipmentloanid,jdbcType=INTEGER},
			</if>
			<if test="eId != null">
				#{eId,jdbcType=INTEGER},
			</if>
			<if test="ename != null">
				#{ename,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="startdate != null">
				#{startdate,jdbcType=TIMESTAMP},
			</if>
			<if test="enddate != null">
				#{enddate,jdbcType=TIMESTAMP},
			</if>
			<if test="epayment != null">
				#{epayment,jdbcType=INTEGER},
			</if>
			<if test="rentnum != null">
				#{rentnum,jdbcType=INTEGER},
			</if>
			<if test="estatus != null">
				#{estatus,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lp.gms.model.Equipmentloan">
		update equipmentloan
		<set>
			<if test="eId != null">
				e_id = #{eId,jdbcType=INTEGER},
			</if>
			<if test="ename != null">
				eName = #{ename,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="startdate != null">
				startDate = #{startdate,jdbcType=TIMESTAMP},
			</if>
			<if test="enddate != null">
				endDate = #{enddate,jdbcType=TIMESTAMP},
			</if>
			<if test="epayment != null">
				ePayment = #{epayment,jdbcType=INTEGER},
			</if>
			<if test="rentnum != null">
				rentNum = #{rentnum,jdbcType=INTEGER},
			</if>
			<if test="estatus != null">
				eStatus = #{estatus,jdbcType=VARCHAR},
			</if>
		</set>
		where equipmentloanId = #{equipmentloanid,jdbcType=INTEGER}
	</update>
</mapper>